.App {
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0px;
}

html,body{ 
  margin:0; 
  padding:0; 
  height:100%; 
  width:100%; 
  position:fixed; 
  top: 0;
  left: 0;
  margin: 0px;
}

:root {
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  position:fixed;
  margin: 0px;
}

.header {
  background-color: #282c34;
  height: 50px;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-buttons {
  color: rgb(168, 13, 13);
  background-color: #ad5927;
  width: 100vh;
  height: 200px;
}

.button-column {
  color: rgb(245, 223, 223);
  background-color: #a73925;
  float: left;
  width: 20%;
  height: 20px;
}

.vanity-body {
  color: rgb(214, 200, 200);
  background-color: #040b68;
  height: 100vh;
  width: 100vh;
}

.text-input {
  color: rgb(214, 200, 200);
  background-color: #44d61f;
}
