.vanity-body {
  color: rgb(143, 139, 167);
  background-color: #1e109c;
  height: 100vh;
  width: 100vw;
}

.header {
  color: rgb(129, 95, 95);
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #b4b1d3;
}

.input-button-row {
  width: 100vw;
  height: 70px;
  padding: 5px;
}

.input-button {
  color: #b4b1d3;
  background-color: #3d44a0;
  float: left;
  width: 30%;
  height: 40px;
  margin: 5px;
}

.input-section {
  padding: 5px;
}

.input-label {
  display: inline-block;
  width: 80px;
  color: #b4b1d3;
  padding: 5px;
}

.input-text-row {
  color: rgb(218, 195, 195);
  width: 100vw;
  height: 80%;
  padding: 5px;
  text-align: left;
}

.text-input {
  color: rgb(245, 223, 223);
  background-color:  #414bce;
  width: 20vw;
  height: 25px;
}

.text-input-iterations {
  color: rgb(245, 223, 223);
  background-color:  #414bce;
  width: 50px;
  height: 25px;
}

.output-row {
  color: rgb(218, 195, 195);
  width: 100vw;
  height: 400px;
  padding: 5px;
}

.textarea-output {
  color: rgb(245, 223, 223);
  background-color: #1e109c;
  width: 70vw;
  height: 80%;
  padding: 5px;
}

